<div class="calc">
  <div class="calc__tabs">
    <div class="calc__tabs__tab" :class="{'calc__tabs__tab--active' : activeTab == 0}" @click="handleTab(0)">Loan</div>
    <div class="calc__tabs__tab" :class="{'calc__tabs__tab--active' : activeTab == 1}" @click="handleTab(1)">Сurrency
    </div>
  </div>
  <div class="calc__row">
    <Input label="Amount" :select="['BTC', 'ETH']" mode="currency"/>
  </div>
  <div class="calc__row">
    <Input label="Term" :select="['Days', 'Weeks']" mode="time"/>
  </div>
  <div class="calc__row">
    <Input label="Rate of year" mode="percent"/>
  </div>
</div>
